.App {
  text-align: center;
  background-color: rgb(175, 211, 231);
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.header-logo {
  height: 5em;
}

.test-image {
  width: 50%;
  image-orientation: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  height: 7em;
  color: #336699;
  background-color: #3c4d58;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.App-intro {
  font-size: 2.5em;
}

.ul-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  color: rgb(175, 211, 231);
}

.Instructions-component {
  display: flex;
  text-align: left;
  justify-content: space-around;
  flex-wrap: wrap;
}

.instructions {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 68vh;
}

.results-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: .5em;
  height: 68vh;
  
}

.ol-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 5px;
  margin: 0;
  color:#336699;
  font-size: 20px;
}

.img-fluid {
  display: grid;
  align-items: center;
  justify-content: space-around;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 60vh;
}

.image {
  margin: 1em;
  border: #2f4858 solid 5px;
  border-radius: 5%;
}

.image:hover {
  transform: scale(1.10);
  border-radius: 5%;
}

.contact-information {
  margin-top: 5%;
  height: 62vh;
}

.btn-btn-primary {
  background-color: #336699;
  margin-bottom: 1em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  background-color: #336699;
  color: #2f4858;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  height: 16vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 600px)

 @media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} 