.App {
  text-align: center;
}

.header-logo {
  height: 3em;
  
}

.test-image {
  width: 50%;
  im: center;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  height: 4em;
  color: #336699;
  font-family: 'Open Sans', sans-serif;
}

.image {
  height: 200;
  width: 200;

}


.App-intro {
  font-size: 2.5em;
}

.Nav-Bar {
  
}

.ul-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  color:#336699;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

btn btn-primary {
  background-color: #86BBD8;
}

.footer {


}

@media (min-width: 576px)