.App {
  text-align: center;
  height: 100vh;
  width: 100vw;

}

.header-logo {
  height: 3em;
  
}

.test-image {
  width: 50%;
  im: center;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  height: 4em;
  color: #336699;
  font-family: 'Open Sans', sans-serif;
}

.App-intro {
  font-size: 2.5em;
}

.ul-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  color:#336699;
}

.img-fluid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.image {
  margin: 1em;
  border: #2f4858 solid 5px;
}
/* .img-thumbnail { */
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* align-content: center; */
/* } */

btn btn-primary {
  background-color: #86BBD8;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  background-color: #336699;
  color: #2f4858;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 576px)